<div id="popupWindow" class="z-3 w-50  d-none">
</div>
<div class="overlay z-2 d-none" id="overplay"></div>
<div class="container-fluid">
    {{> Nav/guestNav}}
    <div class="row">
        <div class="col-md-3">
            {{!-- Left slide --}}
            <form class="h-100 bg-white w-100 p-3">
                {{!-- Type --}}
                <div class="checkBox mb-3">
                    <p class="fs-8 textPrimary">Type</p>
                    <div class="ms-3">
                        <div class="form-check" id="TypeCheckList">
                        </div>
                    </div>
                </div>
                {{!-- Brand --}}
                <div class="checkBox mb-3">
                    <p class="fs-8 textPrimary">Brand</p>
                    <div class="ms-3">
                        <div class="form-check" id="BrandCheckList">
                        </div>
                    </div>
                </div>
                {{!-- Price --}}
                <div class="mb-3">
                    <p class="fs-8 textPrimary">Max Price</p>
                    <div class="ms-3">
                        <div>Current max price: <span id="CurrentMP">{{maxPrice}}$</span></div>
                        <input type="range" class="form-range" min="0" max="{{maxPrice}}" step="1000" id="maxPriceRange"
                            value="{{maxPrice}}">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="ms-0">0$</div>
                            <div class="me-0">{{maxPrice}}$</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            {{!-- Main content --}}
            <div class="bg-white d-flex flex-column h-100" id="MainContent">
                <div class="d-flex justify-content-center mb-auto flex-wrap  w-100 p-3" id="CarList">

                </div>
                <nav class="d-flex justify-content-center" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" onclick="prePage()" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" id="PageInfo"></a></li>
                        <li class="page-item">
                            <a class="page-link" onclick="nextPage()" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {{>footer}}
</div>
{{#if userId}}
<script>
    let userId = {{ userId }}
</script>
{{/if}}